@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Colors
$primary: #006d77;
$secondary: #bee1e6;
$light: #ffffff;
$dark: #030303;

// Fonts
$font-family: "Roboto", sans-serif;

// Font Sizes
$font-size-lg: 3.25rem;
$font-size-md: 2rem;
$font-size-sm: 1.25rem;
$font-size-xs: 1rem;
$font-size-xxs: 14px;
