@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

// Colors
$primary: #006d77;
$secondary: #bee1e6;
$light: #d3f9ffa6;
$dark: #030303;

// Fonts
$font-family: "Roboto", sans-serif;

$font-family-sans-serif: $font-family;

// Font Sizes
$font-size-base: 1rem;

$font-sizes: (
  1: $font-size-base * 3.25,
  // 52px
  2: $font-size-base * 2,
  // 32px
  3: $font-size-base * 1.25,
  // 20px
  4: $font-size-base,
  // 16px
  5: $font-size-base * 0.875,
  // 14px
);

// Space
$spacer: 1rem;
$spacers: (
  0: 0,
  1: (
    $spacer * 0.6,
    // 9,7
  ),
  2: (
    $spacer,
    // 16
  ),
  3: (
    $spacer * 1.25,
    // 20
  ),
  4: (
    $spacer * 1.5,
    // 24
  ),
  5: (
    $spacer * 2,
    // 32
  ),
  6: (
    $spacer * 5,
    // 80
  ),
  7: 103px,
);

// Navbar
.navbar-nav .nav-item .nav-link {
  color: black;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
  color: $primary;
}
